body {
  background-color: lightgray;
  padding: 15px;
}
p {
  text-align: justify;
}
#para1 {
  font-size: 20px;
  color: blue;
}
#para2 {
  font-size: 18px;
  color: green;
}
h1 {
  color: navy;
}
h2 {
  color: darkred;
}
